@model FirstWebApp.Models.Restaurant

<h1>@Model.Name</h1>

<div>... Details ...</div>
<ul>
    <li>ID: @Model.Id</li>
    <li>Cuisine: @Model.Cuisine</li>
</ul>

<a asp-action="Index" asp-controller="Home">Home page</a>