@model FirstWebApp.Models.Restaurant

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Hello !</h1>
    <div>Restaurant name: <span>@Model.Name</span></div>
    <div>Restaurant id: <span>@Model.Id</span></div>
    <div>this is the index view !</div>
</body>
</html>